%h1 New photo

- form_for @photo, :html => { :multipart => true }, :url => category_photos_path(@category) do |f|
  = f.error_messages
  = f.label :name, 'Name:'
  %br
  = f.text_field :name
  %br
  = f.label :description, 'Description:'
  %br
  = f.text_area :description
  %br
  = f.label :uploaded_data, 'Select an image on your computer:'
  %br
  = f.file_field :uploaded_data, :accept => 'image/png,image/gif,image/jpeg'
  %br
  = submit_tag 'Save'
