%h1 New photo

- form_for @photo, :html => { :multipart => true }, :url => category_photos_path(@category) do |f|
  = f.error_messages
  %p
  = f.label :uploaded_data, 'Select an image on your computer:'
  %br
  = f.file_field :uploaded_data, :accept => 'image/png,image/gif,image/jpeg'
  %p
  = f.label :name, 'Enter a name:'
  %br
  = f.text_field :name, :class => 'textinput'
  %p
  = f.label :description, 'Enter a Description:'
  %br
  = f.text_area :description, :class => 'textinput'
  %p
  = submit_tag 'Save'
