%h1= "Listing photos in &laquo;#{h(@category.title)}&raquo;"

%p
  %em= link_to 'Click here to upload new photo', new_category_photo_path(@category)

%ul.lighttable
  -@category.photos.each do |photo|
    %li
      .thumb
        = link_to image_tag(photo.public_filename(:thumb)), category_photo_path(@category, photo)
      %p.title
        = h(photo.name)
      %p.action
        = link_to 'Show', category_photo_path(@category, photo)
        = link_to 'Delete', category_photo_path(@category, photo), :confirm => 'Are you sure?', :method => :delete

